extends ../includes/layout

block content
    .container-fluid
        .row
            .col-xs-8
                h1 Active Projects
        .container-fluid.col-xs-12.colored-rows
            .row.nice-row
                .col-xs-10
                    p
                        strong Phases
                .col-xs-2
                    .rightarrow
                        a(href='/settings/phases/')
                            i.icon-icon-arrow-right
            .row.nice-row
                .col-xs-10
                    p
                        strong Phase Fields
                .col-xs-2
                    .rightarrow
                        a(href='/settings/phase-fields/')
                            i.icon-icon-arrow-right
            .row.nice-row
                .col-xs-10
                    p
                        strong Field Report Fields
                .col-xs-2
                    .rightarrow
                        a(href='/settings/field-report-fields/')
                            i.icon-icon-arrow-right
            .row.nice-row
                .col-xs-10
                    p
                        strong Users
                .col-xs-2
                    .rightarrow
                        a(href='/settings/users/')
                            i.icon-icon-arrow-right
            .row.nice-row
                .col-xs-10
                    p
                        strong Options
                .col-xs-2
                    .rightarrow
                        a(href='/settings/options/')
                            i.icon-icon-arrow-right
    