//- include all mixins

include ../mixins/pagination
include ../mixins/upload_media_form
include ../mixins/file_repeater_row
include ../mixins/file_repeater
include ../mixins/project_uploaded_files
include ../mixins/field_report_uploaded_files
include ../mixins/custom_fields
