footer
    .container
        .row
            .col-xs-3.nopadding
                a(href='/projects/') 
                    p
                        i.icon-icon-home
                    p Projects
            .col-xs-3.nopadding
                a(href='/calendar/')
                    p
                        i.icon-icon-calender
                    p Calendar
            .col-xs-3.nopadding
                a(href='/field-report/')
                    p
                        i.icon-icon-camera
                    p Field Report
            .col-xs-3.nopadding
                a(href='/settings/')
                    p
                        i.icon-icon-settings
                    p Settings