extends ../../includes/layout

block content
    .container-fluid.table-title
        .row
            .col-xs-8
                h1 #{title}
            .col-xs-4
                a(href='#')
                    i.icon-icon-asce
                a(href='#')
                    i.icon-icon-desc
    
    #tasks-table.borderedBox.col-xs-12.ajax_content
        div.ajax_table_content(data-paged='1', data-url='#{global.REQUEST.slashedUrl}get_list/')
            p Loading...