extends ../includes/layout

block content
    #content.text-center
        .container-fluid
            .row
                .col-sm-2
                form.col-sm-8
                    .form-group
                        input.tinput.form-control(placeholder='email address')
                    .form-group
                        input.tinput.form-control(placeholder='password')
                .col-sm-2