extends ../includes/layout

block content
    #topnav
        form
            select#project-list
                each project, i in projects
                    option(value="#{project.id}")  #{project.name}